<div id="modal-form" class="modal-overlay">
  <div class="container modal-container">
    <div class="modal-window">
      <button class="modal-window__close">
        <svg class="close">
          <use xlink:href="@@webRoot/img/sprite.svg#sprite--close" />
        </svg>
      </button>
      <h3 class="modal-window__title">
        Reserve a Table
      </h3>
      <form action="#" class="form">
        <fieldset class="form__field">
          <input type="text" name="name" id="cal-name" class="input form__input" placeholder="Your name">
        </fieldset>
        <fieldset class="form__field">
          <input type="phone" name="phone" id="cal-phone" class="input form__input" placeholder="Your phone">
        </fieldset>
        <button type="submit" class="btn form__btn">
          Отправить
        </button>
      </form>
    </div>
  </div>
</div>
