<section class="hero">
  <div class="container hero__container">
    <h1 class="visually-hidden">
      `T ZEEZ - cafe, bar
    </h1>
    <p class="hero__descr">
      Open Everyday 6am - 9pm
    </p>
    <h2 class="hero__title">
      A bad day with lunch is better than a good day without it.
    </h2>
    <div class="hero__footer">
      <button class="btn hero__btn">
        Reserve a table
      </button>
      <ul class="hero__social" data-da=".menu__list,640,last">
        <li class="hero_-social-item">
          <a href="#" class="hero__social-link">
            <svg class="icon social">
              <use xlink:href="img/sprite.svg#sprite--social-fb" />
            </svg>
          </a>
        </li>
        <li class="hero_-social-item">
          <a href="#" class="hero__social-link">
            <svg class="icon social">
              <use xlink:href="img/sprite.svg#sprite--social-lg" />
            </svg>
          </a>
        </li>
        <li class="hero_-social-item">
          <a href="#" class="hero__social-link">
            <svg class="icon social">
              <use xlink:href="img/sprite.svg#sprite--social-tw" />
            </svg>
          </a>
        </li>
        <li class="hero_-social-item">
          <a href="#" class="hero__social-link">
            <svg class="icon social">
              <use xlink:href="img/sprite.svg#sprite--social-yt" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>