<section class="section cafe-menu">
  <div class="container cafe-menu__container">
    <ul class="cafe-menu__list dishday">
      <li class="dishday__item">
        <h3 class="dishday__date">
          Woensdag <time class="dishday__time" datetime="2022-01-12">12/01</time>
        </h3>
        <div class="dishday__wrap">
          <p class="dishday__name">
            Salade met Serrano
          </p>
          <div class="dots-wrap">
            <span class="dots"></span>
          </div>
          <p class="dishday__name">
            Steak Tartaar
          </p>
        </div>
      </li>
      <li class="dishday__item">
        <h3 class="dishday__date">
          Donderdag <time class="dishday__time" datetime="2022-01-12">13/01</time>
        </h3>
        <div class="dishday__wrap">
          <p class="dishday__name">
            Toast Roquefort
          </p>
          <div class="dots-wrap">
            <span class="dots"></span>
          </div>
          <p class="dishday__name">
            Penne met Kip en Prei
          </p>
        </div>
      </li>
      <li class="dishday__item">
        <h3 class="dishday__date">
          Vrijdag 
          <time class="dishday__time" datetime="2022-01-12">14/01</time>
        </h3>
        <div class="dishday__wrap">
          <p class="dishday__name">
            Verrassing van de Chef
          </p>
          <div class="dots-wrap">
            <span class="dots"></span>
          </div>
          <p class="dishday__name">
            Penne met Kip en Prei
          </p>
        </div>
      </li>
      <li class="dishday__item">
        <h3 class="dishday__date">
          Vrijdag 
          <time class="dishday__time" datetime="2022-01-12">15/01</time>
        </h3>
        <div class="dishday__wrap">
          <p class="dishday__name">
            Verrassing van de Chef
          </p>
          <div class="dots-wrap">
            <span class="dots"></span>
          </div>
          <p class="dishday__name">
            Penne met Kip en Prei
          </p>
        </div>
      </li>
      <li class="dishday__item">
        <h3 class="dishday__date">
          Vrijdag 
          <time class="dishday__time" datetime="2022-01-12">16/01</time>
        </h3>
        <div class="dishday__wrap">
          <p class="dishday__name">
            Verrassing van de Chef
          </p>
          <div class="dots-wrap">
            <span class="dots"></span>
          </div>
          <p class="dishday__name">
            Penne met Kip en Prei
          </p>
        </div>
      </li>
    </ul>
    <div class="cafe-menu__photos">
      <picture class="picture cafe-menu__photo1">
        <source srcset="img/photos/photo1.webp">
        <img src="img/photos/photo1.jpg" alt="Второй этаж">
       </picture>
       <picture class="picture cafe-menu__photo2">
        <source srcset="img/photos/photo2.webp">
        <img src="img/photos/photo2.jpg" alt="Второй этаж">
       </picture>
      <span class="freebox"></span>
    </div>
  </div>
</section>