<header class="header">
  <div class="container header__container">
    <a href="/" class="header__logo">
      <img src="/img/header-logo.webp" alt="Logo">
    </a>
    <nav class="header__nav menu">
      <div class="menu__burger burger">
        <div></div>
      </div>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link menu__link--active">
            À la carte
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            Wijnkaart
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            Lunchmenu
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            Contact
          </a>
        </li>
      </ul>
    </nav>
    <a href="tel:+3292825725" class="header__phone" data-da=".hero__social,640,last">
      <svg class="icon phone">
        <use xlink:href="img/sprite.svg#sprite--phone" />
      </svg>
      <span class="header__phone-text">
        +32 9 282 57 25
      </span>
    </a>
  </div>
</header>
